/* Sticky footer styles
https://getbootstrap.com/docs/4.1/examples/sticky-footer/sticky-footer.css
-------------------------------------------------- */

html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 60px; /* Margin bottom by footer height */
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 86px; /* Set the fixed height of the footer here */
  background-color: #333;
  color: #999;
  font-size: 13px;
}

/* Other styles */

h1 {
	margin-top: 40px;
}

h2, h3 {
	margin-top: 18px;
}

.three-points {
  background-color: #00b4db;
  color: white;
  text-align: center;
}

.btn3-container {
  display: block;
  margin: 0;
  max-width: 100%;
}

.btn3 {
  border-style:solid;
  padding: 13px 19px;
  color: #f7f7f7;
  border-color: #f7f7f7;
  border-width: 2px;
  background-color: transparent;
  font-size: 14px;
  border-radius: 2em;
  display: inline-block;
  margin-bottom: 0;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  box-sizing: border-box;
  word-wrap: break-word;
  user-select: none;
  position: relative;
  top: 0;
  transition: all .2s ease-in-out;
  line-height: normal;
  box-shadow: none;
  text-decoration: none;
  white-space: nowrap;
}



/*
heigths
preheader: 40px
header: 90px
carousel: 550;
tri veci: 100px;
budte pri tom: 110px;
big pre-footer: 488px;
footer: 86px;
*/

/*
PS cyan rgb(0, 180, 219)
dark cyan #00b4db
red rgb(229, 38, 63)
light grey: #898989
dark grey: #333;
 */
